/* Created by: Benjamin Abebe
* Created on: Feb 2025
* This is CSS file defines the style for index.html file
*/

body {
  background-color: rgb(49, 49, 49);
}

h1,
h2 {
  background-color: rgb(255, 165, 0);
  color: hsl(147, 50%, 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #ff0fff;
}

li {
  background-color: lightyellow;
  text-align: center;
}

th {
  height: 2rem;
  background: red;
  border: 1px solid white;
  text-align: center;
  /* Changed to center the text */
}

td {
  height: 2rem;
  background: rgb(21, 182, 0);
  border: 1px solid black;
  text-align: center;
  /* Ensures the content in td is centered */
}